body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
#count {
    display: block;
    text-align: center;
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5em;
    color: #fff;
    background-color: rgb(117, 105, 164);
    cursor: pointer;
    transition: background-color 0.25s ;
}

.button:hover{
    background-color: #b758c5(214,100%,56%);
}
div{
    align-items: baseline;
}
