body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(234, 227, 227);

}
h1{
    color: blue;
}
form{
    background-color: #fff;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding:25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(129, 70, 70);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(95, 122, 171);
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
#answer{
    font-size: 5em;
}
button{
    margin-top: 15px;
    background-color: #c04646;
    font-size: 1em;
    border:none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

button:hover{
    background-color: #4028d8;
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}
